/* 
    Created on : 21 nov. 2020, 18:16:51
    Author     : Luis
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.error{
    color: red;
}

body{
    background-color: whitesmoke;
}

form{
    border: 2px solid gray;
    margin: auto;
    position: absolute;
    padding: 15px;
    top: 35%;
}

input[type="submit"]{
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    margin-top: 15px;
    border-radius: 2px;
    color: black;
}

input:focus{
    background-color: #dddddd;
    color: black;
}

input:read-only{
    background-color: gray;
    color: white;
    width: auto;
}

.boton{
    background-color: transparent;
    border: 2px solid black;
    padding: 5px;
    margin-top: 15px;
    border-radius: 2px;
    color: black;
}

.opciones{
    position: relative;
    left: 40%;
}

.bien{
    background-color: #13b08c;
    color: white;
}

.mal{
    background-color: #cc0033;
    color: white;
}

.editar{
    top: 15%;
    display: flex;
    flex-direction: column;
}

#subirImg{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    z-index: 10;
    position: relative;
    top: 5%;
    left: 5%;
    cursor: pointer;
}

.imagen{
    height: 115px;
    width: 115px;
    border-radius: 60px;
    position: relative;
    border: 2.5px solid red;
    z-index:  100;
}

.imagen .cerrar{
    background-color: red;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.imagen .textoInf{
    position: absolute;
    left: 5%;
    bottom: 5%;
    text-align: center;
    background-color: rgb(1, 1, 1);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: .75em;
    height: 50px;
    width: 100px;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.imagen:hover .textoInf{
    opacity: 1;
}
.imagen:hover .cerrar{
    opacity: 1;

}

.imagen:hover .cerrar:hover{
    background-color: #13b08c;
}

@media screen and (min-width: 2270px) {
    form{
        width: 20%;
        left: 40%;
    }
}
@media screen and (max-width: 2270px) {
    form{
        width: 25%;
        left: 35%;
    }
}

@media screen and (max-width: 1650px) {
    form{
        width: 35%;
        left: 32.5%;
    }
}

@media screen and (max-width: 1068px) {
    form{
        width: 55%;
        left: 25%;
    }
}